.container{
    width: 1200px;
    margin: 0 auto;
}

.link{
    color: #4d555d;
}
.link:hover{
    color: #f01414;
}
.text-hidden{
    text-indent: -9999px;
    overflow: hidden;
}

.search{
    position: relative;
    border: 1px solid #cfd2d5;
}
.search-inputbox{
    width: 605px;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    border: none;
    background-color: #fff;
}
.search-btn{
    width: 73px;
    height: 40px;
    line-height: 40px;
    background-color: #07111b;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border: none;
}
.search-layer{
    border: 1px solid green;
    position: absolute;
    top: 100%;
    left: -1px;
    width: 100%;
    background-color: #fff;
}
.search-layer-item{
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    cursor: pointer;

    
}
.search-layer-item:hover{
    background-color: #f3f5f7;
}

.text-ellipsis{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}