.nav-site{
    width: 100%;
    background-color: #f3f5f7;
}

.nav-site .container{
    height: 44px;
    line-height: 44px;
    border-bottom: 1px solid #cdd0d4;
}

.nav-site-login{
    margin-left: 15px;
    color: #f01414;
}
.nav-site-signup,.nav-site-mobile{
    margin-left: 10px;
}
.nav-site-category{
    margin: 0 10px;
}
.nav-site-service{
    margin-right: 15px;
}


.dropdown{
    position: relative;
}
.dropdown-toggle{
    display: block;
    height: 100%;
    padding: 0 16px 0 12px;
    border-left: 1px solid #f3f5f7;
    border-right: 1px solid #f3f5f7;
}
.dropdown-arrow{
    display: inline-block;
    width: 8px;
    height: 6px;
    background: url(../img/arrow.svg) no-repeat;
    background-size: 8px 6px;
    vertical-align: middle;
}
.dropdown-layer{
    display: none;
    position: absolute;
    top: 44px;
    border: 1px solid #cdd0d4;
}
.dropdown-left{
    left: 0;
    right: auto;
}
.dropdown-right{
    right: 0;
    left: auto;
}
.dropdown-item{
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    color: #4d555d;
    white-space: nowrap;
}
.dropdown-item:hover{
    background-color: #f3f5f7;
}

.dropdown-active .dropdown-toggle{
    background-color: #fff;
    border-color: #cdd0d4;
}
.dropdown-active .dropdown-arrow{
    background-image: url(../img/arrowred.svg);
    transform: rotate(180deg);
}
.dropdown-active .dropdown-layer{
    display: block;
}




.header{
    width: 100%;
    height: 124px;
    background-color: #f3f5f7;
}

.header-logo{
    display: block;
    width: 136px;
    height: 48px;
    margin-left: 15px;
    background-color: #1B9CFC;
}

.header .search,
.header-logo,
.header .cart{
    margin-top: 36px;
}

.header .search{
    margin-left: 145px;
}